// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-title {
  margin-bottom: 0;
  font-family: monospace;

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  a:before {
    content: '\a0x˙st';
  }

  a:hover:before {
    content: 'exist';
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}
